openapi: 3.2.0
info:
  title: FarmCommand Carbon API
  termsOfService: https://www.farmcommand.com/terms-of-service
  contact:
    name: Product Support
    email: productsupport@farmersedge.ca
  version: ''
servers:
- url: https://admin.farmcommand.com/
security:
- FarmCommand Token: []
tags:
- name: Carbon
paths:
  /carbon/docusign-envelope-webhook/:
    parameters: []
    post:
      operationId: carbon_docusign-envelope-webhook_create
      summary: Handle DocuSign webhook for envelope status updates
      description: ''
      responses:
        '200':
          description: Document signed successfully.
        '400':
          description: Invalid webhook payload.
        '401':
          description: Invalid Signature.
        '404':
          description: Envelope not found.
      tags:
      - Carbon
      requestBody:
        content:
          application/json:
            schema:
              required:
              - event
              - data
              type: object
              properties:
                event:
                  description: Webhook event type
                  type: string
                data:
                  required:
                  - envelopeId
                  type: object
                  properties:
                    envelopeId:
                      description: DocuSign Envelope ID
                      type: string
              example:
                event: envelope-completed
                data:
                  envelopeId: <id>
        required: true
components:
  securitySchemes:
    FarmCommand_Token:
      type: apiKey
      name: token
      in: query
