openapi: 3.2.0
info:
  title: FarmCommand Canplug API
  termsOfService: https://www.farmcommand.com/terms-of-service
  contact:
    name: Product Support
    email: productsupport@farmersedge.ca
  version: ''
servers:
- url: https://admin.farmcommand.com/
security:
- FarmCommand Token: []
tags:
- name: canplug
paths:
  /canplug/imeicanplug/:
    parameters: []
    get:
      operationId: canplug_imeicanplug_list
      description: 'Get a canplug through IMEI. This should ONLY be used during the provisioning process. A

        CanPlug''s IMEI may change after the original manufacturer spreadsheet is loaded in. In such

        a case, we aren''t searching by the IMEI property, but by the original _imei value.'
      parameters:
      - name: imei
        in: query
        description: Filter canplug by the imei id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: CanPlug returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanPlug'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: CanPlug not found
        '401':
          description: Invalid Authetnication.
      tags:
      - canplug
      summary: Canplug imeicanplug list
      x-summary-source: derived
components:
  schemas:
    CanPlug:
      required:
      - canplugID
      - implements
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        canplugID:
          title: CanplugID
          type: string
          minLength: 1
        grower:
          title: Grower
          type:
          - integer
          - 'null'
        active:
          title: Active
          type: boolean
        implements:
          type: array
          items:
            type: integer
          uniqueItems: true
        provisioned:
          title: Provisioned
          type: string
          readOnly: true
        integrations:
          type: array
          items:
            type: integer
          readOnly: true
          uniqueItems: true
        carrier_name:
          title: Carrier name
          type: string
          readOnly: true
        is_xbee:
          title: Is xbee
          type: string
          readOnly: true
  securitySchemes:
    FarmCommand_Token:
      type: apiKey
      name: token
      in: query
