openapi: 3.2.0
info:
  title: FarmCommand Payments API
  termsOfService: https://www.farmcommand.com/terms-of-service
  contact:
    name: Product Support
    email: productsupport@farmersedge.ca
  version: ''
servers:
- url: https://admin.farmcommand.com/
security:
- FarmCommand Token: []
tags:
- name: Payments
paths:
  /payments/stripe-webhook-hefty/:
    parameters: []
    post:
      operationId: payments_stripe-webhook-hefty_create
      summary: Handle a Stripe webhook event for Hefty account.
      description: ''
      responses:
        '200':
          description: Stripe webhook event handled
        '400':
          description: Bad Request
      tags:
      - Payments
  /payments/stripe-webhook-labcommand-canada/:
    parameters: []
    post:
      operationId: payments_stripe-webhook-labcommand-canada_create
      summary: Handle a Stripe webhook event for LabCommand (Canada) account.
      description: ''
      responses:
        '200':
          description: Stripe webhook event handled
        '400':
          description: Bad Request
      tags:
      - Payments
  /payments/stripe-webhook-labcommand-usa/:
    parameters: []
    post:
      operationId: payments_stripe-webhook-labcommand-usa_create
      summary: Handle a Stripe webhook event for LabCommand (USA) account.
      description: ''
      responses:
        '200':
          description: Stripe webhook event handled
        '400':
          description: Bad Request
      tags:
      - Payments
components:
  securitySchemes:
    FarmCommand_Token:
      type: apiKey
      name: token
      in: query
