{"swagger": "2.0", "info": {"title": "FarmCommand API", "termsOfService": "https://www.farmcommand.com/terms-of-service", "contact": {"name": "Product Support", "email": "productsupport@farmersedge.ca"}, "version": ""}, "host": "admin.farmcommand.com", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"FarmCommand Token": {"type": "apiKey", "name": "token", "in": "query"}}, "security": [{"FarmCommand Token": []}], "paths": {"/canplug/imeicanplug/": {"get": {"operationId": "canplug_imeicanplug_list", "description": "Get a canplug through IMEI.  This should ONLY be used during the provisioning process.  A\nCanPlug's IMEI may change after the original manufacturer spreadsheet is loaded in.  In such\na case, we aren't searching by the IMEI property, but by the original _imei value.", "parameters": [{"name": "imei", "in": "query", "description": "Filter canplug by the imei id.", "required": true, "type": "string"}], "responses": {"200": {"description": "CanPlug returned successfully", "schema": {"$ref": "#/definitions/CanPlug"}}, "400": {"description": "Bad Request"}, "403": {"description": "Permission Denied"}, "404": {"description": "CanPlug not found"}, "401": {"description": "Invalid Authetnication."}}, "tags": ["canplug"]}, "parameters": []}, "/carbon/docusign-envelope-webhook/": {"post": {"operationId": "carbon_docusign-envelope-webhook_create", "summary": "Handle DocuSign webhook for envelope status updates", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["event", "data"], "type": "object", "properties": {"event": {"description": "Webhook event type", "type": "string"}, "data": {"required": ["envelopeId"], "type": "object", "properties": {"envelopeId": {"description": "DocuSign Envelope ID", "type": "string"}}}}, "example": {"event": "envelope-completed", "data": {"envelopeId": "<id>"}}}}], "responses": {"200": {"description": "Document signed successfully."}, "400": {"description": "Invalid webhook payload."}, "401": {"description": "Invalid Signature."}, "404": {"description": "Envelope not found."}}, "tags": ["carbon"]}, "parameters": []}, "/client/forgotpassword/": {"post": {"operationId": "client_forgotpassword_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["client"]}, "parameters": []}, "/client/password/reset/": {"post": {"operationId": "client_password_reset_create", "description": "Send an email to change a password with a token.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["identifier", "url"], "type": "object", "properties": {"identifier": {"description": "The username or email of a user. Username is case sensitive.", "type": "string"}, "url": {"description": "The url you would like used to reset the password with. /password/reset/<token> will be appended to the url passed in. eg. \"https://admin.farmcommand.com\"", "type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"required": ["identifier", "url"], "type": "object", "properties": {"identifier": {"description": "The username or email of a user. Username is case sensitive.", "type": "string"}, "url": {"description": "The url you would like used to reset the password with. /password/reset/<token> will be appended to the url passed in. eg. \"https://admin.farmcommand.com\"", "type": "string"}}}}, "404": {"description": "Client not found"}, "400": {"description": "Bad request"}}, "tags": ["client"]}, "parameters": []}, "/client/password/reset/change/": {"post": {"operationId": "client_password_reset_change_create", "description": "Change a password with a token.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["password", "token"], "type": "object", "properties": {"token": {"description": "The token generated in the url", "type": "string"}, "password": {"description": "The new password to change the users password to", "type": "string"}}}}], "responses": {"200": {"description": "Password changed successfully"}, "404": {"description": "Client not found"}, "400": {"description": "Bad request"}}, "tags": ["client"]}, "parameters": []}, "/client/selfserveclient/": {"post": {"operationId": "client_selfserveclient_create", "summary": "Create a new Self Serve Client", "description": "Create a new self-serve client.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SelfServeClient"}}, {"name": "token-login", "in": "query", "description": "Logs the user in and returns a token if set to true", "type": "boolean"}], "responses": {"201": {"description": "Self Serve Client created", "schema": {"$ref": "#/definitions/SelfServeClientResponse"}}, "400": {"description": "Bad Request"}, "429": {"description": "Too Many Requests"}}, "tags": ["client"]}, "parameters": []}, "/client/selfserveclient/resend-verification-email": {"post": {"operationId": "client_selfserveclient_resend-verification-email_create", "description": "Resend a verification email to a self-serve client.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["email"], "type": "object", "properties": {"email": {"description": "Email of the Self Serve Client", "type": "string"}}}}], "responses": {"200": {"description": "Verification email sent successfully"}, "400": {"description": "Bad request"}, "404": {"description": "Self Serve Client not found"}}, "tags": ["client"]}, "parameters": []}, "/client/selfserveclient/verify": {"post": {"operationId": "client_selfserveclient_verify_create", "description": "Verify a self-serve client with a valid token.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["token"], "type": "object", "properties": {"token": {"description": "The token sent in the verification email", "type": "string"}}}}], "responses": {"200": {"description": "Self Serve Client verified successfully"}, "400": {"description": "Bad request"}, "404": {"description": "Self Serve Client not found"}}, "tags": ["client"]}, "parameters": []}, "/client/validate-username": {"get": {"operationId": "client_validate-username_list", "description": "Validate the availability of a username.", "parameters": [{"name": "username", "in": "query", "description": "The username to check for availability.", "type": "string"}], "responses": {"200": {"description": "Username validated successfully.", "schema": {"type": "object", "properties": {"available": {"description": "True if the specified username is valid and currently available, otherwise returns with error.", "type": "boolean"}}}}, "400": {"description": "Bad Request."}}, "tags": ["client"]}, "parameters": []}, "/contact/{token}/unsubscribe": {"get": {"operationId": "contact_unsubscribe_list", "description": "This view should be triggered by clicking the unsubscribe link in an email", "parameters": [], "responses": {"200": {"description": "Successfully unsubscribed"}, "404": {"description": "Contact Not Found"}}, "tags": ["contact"]}, "parameters": [{"name": "token", "in": "path", "required": true, "type": "string"}]}, "/contact/{token}/verify": {"get": {"operationId": "contact_verify_list", "description": "This view should be triggered by an email about verifying your email", "parameters": [], "responses": {"200": {"description": "Email verified"}, "404": {"description": "Contact Not Found"}}, "tags": ["contact"]}, "parameters": [{"name": "token", "in": "path", "required": true, "type": "string"}]}, "/gridcalc/token-login/": {"post": {"operationId": "gridcalc_token-login_create", "description": "Token login for Grid Calc users, returns token if logged in successfully", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}}, "tags": ["gridcalc"]}, "parameters": []}, "/hefty/createuser/": {"post": {"operationId": "hefty_createuser_create", "description": "Add a hefty client to the system. If successful will return the username and token.\nThis will create a grower (with username as label), farm (with farm_name as label), Client\nwith role 'Hefty' and permission on the grower created. Also will create a\nClientBillingAddress, ClientArea, Contact (for phone and email), and a ClientAsset\n(with grower)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["address", "area", "city", "country", "email", "farm_name", "fax", "first", "last", "mobile_phone", "password", "phone", "postal_code", "province", "units", "username"], "type": "object", "properties": {"first": {"description": "Their first name", "type": "string"}, "last": {"description": "Their last name", "type": "string"}, "farm_name": {"description": "The farm name (company name)", "type": "string"}, "email": {"description": "Their email", "type": "string"}, "country": {"description": "Billing address county", "type": "string"}, "address": {"description": "Billing address", "type": "string"}, "postal_code": {"description": "Billing address postal code/zip code", "type": "string"}, "city": {"description": "Billing address city", "type": "string"}, "province": {"description": "Billing address province or state", "type": "string"}, "phone": {"description": "Phone contact", "type": "string"}, "mobile_phone": {"description": "Mobile Phone contact (can be blank)", "type": "string"}, "fax": {"description": "Fax contact (can be blank)", "type": "string"}, "username": {"description": "Their desired username", "type": "string"}, "password": {"description": "Their password", "type": "string"}, "area": {"description": "The area they think they will use in this program", "type": "string"}, "units": {"description": "The default type of units they would like.", "type": "string", "enum": ["US CUSTOMARY", "METRIC"]}}}}], "responses": {"201": {"description": "User Created", "schema": {"type": "object", "properties": {"username": {"type": "string"}, "token": {"type": "string"}}}}, "400": {"description": "Bad request"}}, "tags": ["hefty"]}, "parameters": []}, "/hefty/password/reset/": {"post": {"operationId": "hefty_password_reset_create", "description": "Sends an email to the user using FESoils branding .", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["identifier", "url"], "type": "object", "properties": {"identifier": {"description": "The username or email of a user", "type": "string"}, "url": {"description": "The url you would like used to reset the password with. /password/reset/<token> will be appended to the url passed in. eg. \"https://admin.farmcommand.com\"", "type": "string"}}}}], "responses": {"200": {"description": "Success"}, "404": {"description": "Client not found"}, "400": {"description": "Bad request"}}, "tags": ["hefty"]}, "parameters": []}, "/hefty/recommendation/completed/": {"post": {"operationId": "hefty_recommendation_completed_create", "description": "This view is for the AgIntegrated call back ( so useful to no one reading these docs)", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["hefty"]}, "parameters": []}, "/hefty/token-login/": {"post": {"operationId": "hefty_token-login_create", "description": "Token login for Hefty users, returns token if logged in successfully", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}}, "tags": ["hefty"]}, "parameters": []}, "/integrations/leaf/alerts/": {"post": {"operationId": "integrations_leaf_alerts_create", "description": "Process Leaf Alerts; Used as a hook directly by LEAF.\nIt accepts a flexible body that  will be forwarded to PubSub,\nso long as the request is signed properly.", "parameters": [], "responses": {"200": {"description": "Leaf alert processed successfully."}, "400": {"description": "Bad Request"}}, "tags": ["integrations"]}, "parameters": []}, "/labcommand/create-user": {"post": {"operationId": "labcommand_create-user_create", "summary": "Create a FarmCommand Client with LabCommand User role.", "description": "Add a LabCommand User client to the system.\n\nCreates a LabCommand User client in the system and assigns it the role 'LabCommand User'.\nReturns the username and token upon successful creation.\n\nThis operation also creates a ClientBillingAddress and Contact (for phone and email)\nfor the user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClientBillingAddressCreate"}}], "responses": {"201": {"description": "User Created", "schema": {"type": "object", "properties": {"username": {"type": "string"}, "token": {"type": "string"}}}}, "400": {"description": "Bad request"}}, "tags": ["labcommand"]}, "parameters": []}, "/labcommand/password/reset": {"post": {"operationId": "labcommand_password_reset_create", "summary": "Processes a password reset request for a client.", "description": "This method checks if a client exists for the given identifier (email or username)\nand sends a password reset email if the client is valid.\nIf the client is not found or an error occurs in sending the email,\nit returns an appropriate error response.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["identifier", "url"], "type": "object", "properties": {"identifier": {"description": "The username or email of a user", "type": "string"}, "url": {"description": "The url you would like used to reset the password with. /password/reset/<token> will be appended to the url passed in. eg. \"https://admin.farmcommand.com\"", "type": "string"}, "timezone": {"description": "The user's timezone", "type": "string"}}}}], "responses": {"200": {"description": "Success"}, "404": {"description": "Client not found"}, "400": {"description": "Bad request"}}, "tags": ["labcommand"]}, "parameters": []}, "/labcommand/token-login": {"post": {"operationId": "labcommand_token-login_create", "description": "Token login for LabCommand users, returns token if logged in successfully", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}}, "tags": ["labcommand"]}, "parameters": []}, "/payments/stripe-webhook-hefty/": {"post": {"operationId": "payments_stripe-webhook-hefty_create", "summary": "Handle a Stripe webhook event for Hefty account. This endpoint for Stripe usage only and should not be used directly.", "description": "", "parameters": [], "responses": {"200": {"description": "Stripe webhook event handled"}, "400": {"description": "Bad Request"}}, "tags": ["payments"]}, "parameters": []}, "/payments/stripe-webhook-labcommand-canada/": {"post": {"operationId": "payments_stripe-webhook-labcommand-canada_create", "summary": "Handle a Stripe webhook event for LabCommand (Canada) account. This endpoint for Stripe usage only and should not be used directly.", "description": "", "parameters": [], "responses": {"200": {"description": "Stripe webhook event handled"}, "400": {"description": "Bad Request"}}, "tags": ["payments"]}, "parameters": []}, "/payments/stripe-webhook-labcommand-usa/": {"post": {"operationId": "payments_stripe-webhook-labcommand-usa_create", "summary": "Handle a Stripe webhook event for LabCommand (USA) account. This endpoint for Stripe usage only and should not be used directly.", "description": "", "parameters": [], "responses": {"200": {"description": "Stripe webhook event handled"}, "400": {"description": "Bad Request"}}, "tags": ["payments"]}, "parameters": []}, "/recengine/token-login/": {"post": {"operationId": "recengine_token-login_create", "description": "Token login for RecEngine users, returns token if logged in successfully", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}}, "tags": ["recengine"]}, "parameters": []}, "/token-login/": {"post": {"operationId": "token-login_create", "description": "Token login for FarmCommand users, returns token if logged in successfully", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"required": ["password", "username"], "type": "object", "properties": {"username": {"type": "string"}, "password": {"type": "string"}}}}}, "tags": ["token-login"]}, "parameters": []}}, "definitions": {"CanPlug": {"required": ["canplugID", "implements"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "canplugID": {"title": "CanplugID", "type": "string", "minLength": 1}, "grower": {"title": "Grower", "type": "integer", "x-nullable": true}, "active": {"title": "Active", "type": "boolean"}, "implements": {"type": "array", "items": {"type": "integer"}, "uniqueItems": true}, "provisioned": {"title": "Provisioned", "type": "string", "readOnly": true}, "integrations": {"type": "array", "items": {"type": "integer"}, "readOnly": true, "uniqueItems": true}, "carrier_name": {"title": "Carrier name", "type": "string", "readOnly": true}, "is_xbee": {"title": "Is xbee", "type": "string", "readOnly": true}}}, "SelfServeClient": {"required": ["username", "password", "first_name", "last_name", "email", "company_name", "phone", "postal_or_zip_code", "country", "client_type"], "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "user": {"title": "User", "type": "integer"}, "username": {"title": "Username", "type": "string", "minLength": 1}, "password": {"title": "Password", "type": "string", "minLength": 1}, "first_name": {"title": "First name", "type": "string", "minLength": 1}, "last_name": {"title": "Last name", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "format": "email", "minLength": 1}, "product_name": {"title": "Product name", "type": "string", "minLength": 1}, "company_name": {"title": "Company name", "type": "string", "maxLength": 100, "minLength": 1}, "partner": {"title": "Partner", "type": "string", "enum": ["nsp"], "x-nullable": true}, "phone": {"title": "Phone", "type": "string", "maxLength": 15, "minLength": 1}, "address_line1": {"title": "Address line1", "type": "string", "maxLength": 500, "x-nullable": true}, "address_line2": {"title": "Address line2", "type": "string", "maxLength": 500, "x-nullable": true}, "city": {"title": "City", "type": "string", "maxLength": 120, "x-nullable": true}, "province_state": {"title": "Province state", "type": "string", "maxLength": 100, "x-nullable": true}, "postal_or_zip_code": {"title": "Postal or zip code", "type": "string", "maxLength": 25, "minLength": 1}, "country": {"title": "Country", "type": "string", "enum": ["Canada", "USA", "Brazil"]}, "verified": {"title": "Verified", "type": "boolean"}, "last_verification_email_sent": {"title": "Last verification email sent", "type": "string", "format": "date-time", "readOnly": true}, "client_type": {"title": "Client type", "type": "string", "enum": ["Grower", "Retailer"]}, "payment_session_id": {"title": "Payment session id", "type": "string", "readOnly": true, "minLength": 1}, "client_secret": {"title": "Client secret", "type": "string", "readOnly": true, "minLength": 1}, "payment_session_status": {"title": "Payment session status", "type": "string", "enum": ["open", "complete", "expired"], "readOnly": true}, "eula_version": {"title": "Eula version", "type": "string", "format": "date", "x-nullable": true}, "eula_date_signed": {"title": "Eula date signed", "type": "string", "format": "date-time", "readOnly": true}, "crm_id": {"title": "Crm id", "type": "string"}, "created_datetime": {"title": "Created datetime", "type": "string", "format": "date-time", "readOnly": true}, "updated_datetime": {"title": "Updated datetime", "type": "string", "format": "date-time", "readOnly": true}, "client": {"title": "Client", "type": "integer", "x-nullable": true}, "service_offering": {"title": "Service offering", "type": "integer", "readOnly": true}, "created_by": {"title": "Created by", "type": "integer", "readOnly": true}, "last_updated_by": {"title": "Last updated by", "type": "integer", "readOnly": true}}}, "SelfServeClientResponse": {"required": ["username", "email", "first_name", "last_name", "company_name", "phone", "postal_or_zip_code", "country", "client_type", "user"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "format": "email", "minLength": 1}, "first_name": {"title": "First name", "type": "string", "minLength": 1}, "last_name": {"title": "Last name", "type": "string", "minLength": 1}, "company_name": {"title": "Company name", "type": "string", "maxLength": 100, "minLength": 1}, "partner": {"title": "Partner", "type": "string", "enum": ["nsp"], "x-nullable": true}, "phone": {"title": "Phone", "type": "string", "maxLength": 15, "minLength": 1}, "address_line1": {"title": "Address line1", "type": "string", "maxLength": 500, "x-nullable": true}, "address_line2": {"title": "Address line2", "type": "string", "maxLength": 500, "x-nullable": true}, "city": {"title": "City", "type": "string", "maxLength": 120, "x-nullable": true}, "province_state": {"title": "Province state", "type": "string", "maxLength": 100, "x-nullable": true}, "postal_or_zip_code": {"title": "Postal or zip code", "type": "string", "maxLength": 25, "minLength": 1}, "country": {"title": "Country", "type": "string", "enum": ["Canada", "USA", "Brazil"]}, "verified": {"title": "Verified", "type": "boolean"}, "last_verification_email_sent": {"title": "Last verification email sent", "type": "string", "format": "date-time", "x-nullable": true}, "client_type": {"title": "Client type", "type": "string", "enum": ["Grower", "Retailer"]}, "payment_session_id": {"title": "Payment session id", "type": "string", "maxLength": 256}, "client_secret": {"title": "Client secret", "type": "string", "maxLength": 512}, "payment_session_status": {"title": "Payment session status", "type": "string", "enum": ["open", "complete", "expired"]}, "eula_version": {"title": "Eula version", "type": "string", "format": "date", "x-nullable": true}, "eula_date_signed": {"title": "Eula date signed", "type": "string", "format": "date-time"}, "crm_id": {"title": "Crm id", "type": "string"}, "created_datetime": {"title": "Created datetime", "type": "string", "format": "date-time", "readOnly": true}, "updated_datetime": {"title": "Updated datetime", "type": "string", "format": "date-time", "readOnly": true}, "client": {"title": "Client", "type": "integer", "x-nullable": true}, "user": {"title": "User", "type": "integer"}, "service_offering": {"title": "Service offering", "type": "integer", "x-nullable": true}, "created_by": {"title": "Created by", "type": "integer", "x-nullable": true}, "last_updated_by": {"title": "Last updated by", "type": "integer", "x-nullable": true}}}, "ClientBillingAddressCreate": {"required": ["first_name", "last_name", "username", "farm_name", "email", "country", "address_line1", "postal_or_zip_code", "city", "province_state", "phone", "password"], "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "client_id": {"title": "Client id", "type": "integer", "readOnly": true}, "first_name": {"title": "First name", "type": "string", "minLength": 1}, "last_name": {"title": "Last name", "type": "string", "minLength": 1}, "username": {"title": "Username", "type": "string", "minLength": 1}, "units": {"title": "Units", "type": "string", "minLength": 1}, "farm_name": {"title": "Farm name", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "format": "email", "maxLength": 254, "minLength": 1}, "country": {"title": "Country", "type": "string", "enum": ["Canada", "USA", "Brazil"]}, "address_line1": {"title": "Address line1", "type": "string", "maxLength": 500, "minLength": 1}, "address_line2": {"title": "Address line2", "type": "string", "maxLength": 500}, "postal_or_zip_code": {"title": "Postal or zip code", "type": "string", "maxLength": 25, "minLength": 1}, "city": {"title": "City", "type": "string", "maxLength": 100, "minLength": 1}, "province_state": {"title": "Province state", "type": "string", "maxLength": 100, "minLength": 1}, "lat": {"title": "Lat", "type": "number", "x-nullable": true}, "lon": {"title": "Lon", "type": "number", "x-nullable": true}, "phone": {"title": "Phone", "type": "string", "maxLength": 30, "minLength": 1}, "mobile_phone": {"title": "Mobile phone", "type": "string", "maxLength": 30}, "is_invoice_enabled": {"title": "Is invoice enabled", "type": "string", "readOnly": true}, "created_by": {"title": "Created by", "type": "integer", "readOnly": true, "x-nullable": true}, "password": {"title": "Password", "type": "string", "minLength": 1}}}}}